html {
  box-sizing: border-box;
  height: 80%;
}

body {
  background-color:#42454e;
  color: #FFFFFF;
  margin: 0;
  min-height: 100%;

}

input.tdesc {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
  /*color: #FFFFFF;*/
}

a:hover{
  /*color:#FFFFFF;*/
}

.align {
  align-items: center;
  display: flex;
  justify-content: center;

}

input{
  color: #170303;
  width: 60%;
}

.button {
    background-color: #1bba9a;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    FontWeight: bold;

}
