{% load staticfiles %}
<html>
  <head>
      <title>My todo list</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/todo.css' %}">
  </head>

<body class="align">
  <div class="grid">
  <br />
    <div class="row">

          <form class="Add" action="/" method="post">
            {% csrf_token %}
      <div class="col-sm-4">
          <h2> Add a new task </h2>
          <label for="lname">Enter item:</label><br />
          <input type="text" class="tname" name="name" placeholder="Item name"><br /> <br />
          <label for="ldesc">Enter description here:</label>
          <input type="text" class="tdesc"name="description" placeholder="Description">
          <button type="submit" class="button"> Add </button>
          <br />
          <hr />
      </div>
      <div class="col-sm-8">
          <p><h3>Your TODO List:</h3></p>

          {% for x in items %}
          <h3><ins>{{ x.task_name }}</ins></h3>
          <p>Created on {{ x.date_created|date:"D d M Y" }}</p>

          <p>{{ x.task_description }}</p>

           <button type="submit" name="id" formaction="delete_todo/" value="{{x.id}}">Delete</button>
          <hr />
          {% endfor %}
      </div>
        </form>
      </div>
  </div>
</body>
</html>
